/*html text sections and all*/
.header, .header:link, .header:visited, .header:hover, .header:active {color: black; font-weight: bold; font-family: "Tahoma", sans-serif; margin-bottom: 0; /*margin-left: 340px;*/}

/*.subheader {margin-left:275px;}*/

html {background-color: black;}

#top {width: 400px; margin: 10px auto 0px auto; text-align: center; background-color: white;}

/*head {padding: 50px 0px 0px 0px;}*/

h1 {margin-bottom: 10px;}

body
{
	font: 100% "Tahoma", sans-serif;
    margin: 0px auto 10px auto;
    width: 900px;
    min-height: 500px;
	padding: 10px 50px;
	background-color: white;
}

a:link, a:visited {color: #246507;}
/*a:visited {color: #38960F;}*/
a:hover {color: #44B811;}
a:active{color: #58F016;}

.analysis {font: medium "Courier New", monospace;}

/*input!*/
.textBox {
    /*border: 1px solid #006;*/
    background: #EDF5E9;
}

.playbackButton {
	font-size: 100%;
	/*font-weight: bold;*/
    border: 2px solid #006;
    background: #FFF;
}

#radioStop {visibility:hidden;}

.hidden{visibility:hidden; text-indent:9999;}

.br1 {height: 6px;}

#blossom {/*margin-left: 150px;*/ font-family: "Tahoma", sans-serif; font-size:150%; font-weight: bold; color: #4C1935;}

#gBlossom{/*margin-left: 150px;*/ font-family: "Tahoma", sans-serif; font-size:100%; font-weight: bold; color: #4C1935;}

.playbackButton:active, #blossom:active, #gBlossom:active
{
	box-shadow: inset 2px 2px 4px #D14693, inset -2px -2px 4px #D14693;
}

#notesIn {height: 50px; width: 740px; overflow-x: scroll; overflow-y: hidden;}


/*rhythm!*/

rKeys {font-size: small; margin: 24px; word-spacing: 46.9px;}

#s {
	background-image:url("img/s.gif");
}

#e {
	background-image:url("img/e.gif");
}

#q {
	background-image:url("img/q.gif");
}

#h {
	background-image:url("img/h.gif");
}

#w {
	background-image:url("img/w.gif");
}

#d {
	background-image:url("img/d.gif");
}

#o {
	background-image:url("img/o.gif");
}

#t {
	background-image:url("img/t.gif");
}

.rhythmPick {
	width:50px;
	height: 50px;
	border: 1.5px solid black;
	display:inline-block;
}

.rhythmPick.picked, .rhythmPick:active {
	/*background: #f4f3f3;*/
    box-shadow: inset 3px 3px 6px #D14693, inset -3px -3px 6px #D14693;
	/*border: 3px inset purple;*/
}


/*
 *piano & keys adapted from Peter Coles http://mrcoles.com/piano/
 */
#pno {
	/*width: 909px;*/
    width: 869px;
    padding: 2px 0 0 2px;
    overflow: hidden;
    background: #000;
    border-radius: 0 0 4px 4px;
}

#playPno {
	/*width: 909px;*/
    width: 830px;
    padding: 2px 0 0 2px;
    overflow: hidden;
    background: #000;
    border-radius: 0 0 4px 4px;
}

#n0 {background: grey; background-image:url("img/rest.gif");}

.key {
    float: left;
    position: relative;
    /*width: 50px;
    height: 180px;*/
	width: 37.5px;
	height: 135px;
    margin: 0 2px 2px 0;
    background: #fff;
    border-radius: 0 0 4px 4px;
}
.key.pressed,
.key:active {
    background: #f4f3f3;
    box-shadow: inset 3px 2px 3px #999, inset -3px 2px 3px #999;
}
.key.black {
    width: 0;
    margin: 0;
    z-index: 2;
}
.key.black:after {
    content: "";
    position: absolute;
    top: -2px;
    left: -16px;
    display: block;
    /*width: 32px;
    height: 117px;*/
	width: 24px;
	height: 87.75px;
    background: #000;
    border-radius: 0 0 4px 4px;
    box-shadow: 1px 1px 0 #555, 2px 2px 0 #555;
}
.key.black1:after {
    left: -20px;
}
.key.black3:after {
    left: -16px;
}
.key.black.pressed:after,
.key.black:active:after {
    background-color: #222;
}